<% provide(:title, "ホーム") %>
<div class="container home-section">
  <div class="row top-contents">

    <div class="col-md-6">
      <h2 class="top-contents__title">写真で日常をシェア</h2>
      <p class="top-contents__text">いいねやコメントをもらおう!</p>
      <%= image_tag("main-image.jpg", class: "top-contents__image") %>
    </div>

    <div class="col-md-6 sample-pages">
      <div class="sample-pages__left">
        <%= image_tag("left-page.png", class: "sample-pages__image") %>
      </div>
      <div class="sample-pages__right">
        <%= image_tag("right-page.png", class: "sample-pages__image") %>
      </div>
    </div>

  </div>
  <div class="home-section__btn-area">
    <a class="btn home-section__btn-custom" href="/sign_in" role="button">ログイン</a>
  </div>
  <div class="home-section__btn-area">
    <%= link_to "Facebook", user_facebook_omniauth_authorize_path, class: "home-section__facebook" %>
  </div>



</div>