
<%= form_with(model: current_user.favorites.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :post_id, post.id %></div>
  <%= image_submit_tag "heart-gray.png", class: "btn-heart--red" %>
<% end %>