<%= form_with(model: current_user.favorites.find_by(post_id: post.id),
              html: { method: :delete }, remote: true) do |f| %>
  <%= image_submit_tag "heart-red.png", class: "btn-heart--red", size:10 %>
<% end %>