<div class="row">

  <div class="col-md-1"></div>

  <div class="col-md-10">
    <%= form_for(@comment, remote: true) do |f| %>
      <%= render 'layouts/error_messages', model: @comment %>
      <div class="form-group post_form-section__form-group">
        <%= f.label :content, "コメント" %>
        <%= f.text_area :content, class: "form-control input-lg" %>
      </div>

      <div><%= f.hidden_field :post_id, value: post.id %></div>

      <div class="post_form-section__btn-area">
        <%= f.submit "投稿", class: "btn post_form-section__btn-custom" %>
      </div>
    <% end %>
  </div>

  <div class="col-md-1"></div>

</div>





