<!--自分以外のコメントを処理-->
<% unless comment == @comments.find_by(user_id: current_user.id) %>
  <div class="row user-tiny-thumbnail">
    <%= render 'comments/output_comments', {post: @post, comment: comment} %>
  </div>
<% end %>
