<div class="col-md-3">
  <% if comment.user.avatar? %>  <!-- アップロード画像がある場合に実行する -->
    <%= link_to image_tag(comment.user.avatar.url, class: "user-tiny-thumbnail__image"), "/users/#{comment.user.id}"  %><!-- userインスタンスの画像ファイルのURLを取得し表示 -->
  <% else %>
    <%= link_to image_tag("default_avatar.png", class: "user-tiny-thumbnail__image"), "/users/#{comment.user.id}"  %><!-- userインスタンスの画像ファイルのURLを取得し表示 -->
<% end %>
  <p class="user-name user-tiny-thumbnail__name"><%= comment.user.name %></p>
</div>
<div class="col-md-9">
  <div class="comment__detail">
    <p class="comment__description"><%= comment.content %></p>
    <div class="row">
      <div class="col-md-8"><p class="comment__time"><%= time_ago_in_words(comment.created_at) %>前に投稿</p></div>
      <% unless comment.created_at == comment.updated_at %>
        <div class="col-md-8"><p class="comment__time"><%= time_ago_in_words(comment.updated_at) %>前に編集</p></div>
      <% end %>

      <% if current_user == comment.user && comment != nil %>
        <div class="col-md-2 comment__link current-user-link--comment-edit"><%= link_to "編集", "/comments/#{comment.id}/edit?postid=#{post.id}", remote: true %></div>

        <div class="col-md-2 comment__link current-user-link--comment-delete"><%= link_to "削除", "/comments/#{comment.id}?postid=#{post.id}", remote: true, method: :delete %></div>
      <% end %>

    </div>
  </div>
</div>
