<% if @state == "OK" %>
  $('#comments-count').html("<p><%= @comments.count %>コメント</p>")
  $('#current-user-comment').html("<%= j (render partial: 'comments/new_comment.html.erb', locals:  {post: @post, comment: nil}) %>");

<% elsif @state == "NG"%>
  $('#current-user-comment').html("<%= j (render 'comments/my_comment.html.erb', { comments: @comment.post.comments, post: @comment.post }) %>");

<% end %>