<% if @state == "OK" %>
$('#current-user-comment').html("<%= j (render 'comments/my_comment.html.erb', { comments: @comment.post.comments, post: @comment.post }) %>");

<% elsif @state == "NG"%>
$('#current-user-comment').html("<%= j (render 'comments/comment_form.html.erb', post: @comment.post) %>");

<% end %>