<% provide(:title, "Sign in") %>
<div class="container sign-in-section">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2 class="sign-up-section__page-title">ログイン</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group sign-in-section__form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: "form-control input-lg", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="form-group sign-in-section__form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, class: "form-control input-lg", autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group sign-in-section__form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="sign-in-section__btn-area">
          <%= f.submit "ログイン", class: "btn sign-in-section__btn-custom" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
    <div class="col-md-3"></div>
  </div>

</div>



<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password %><br />-->
    <%#= f.password_field :password, autocomplete: "current-password" %>
<!--  </div>-->

  <%# if devise_mapping.rememberable? %>
<!--    <div class="field">-->
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
<!--    </div>-->
  <%# end %>

<!--  <div class="actions">-->
    <%#= f.submit "Log in" %>
<!--  </div>-->
<%# end %>

