<% provide(:title, "通知") %>
<div class="container notification-section">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h2 class="notification-section__page-title">通知</h2>
      <% if @notifications.any? %>
        <%= paginate @notifications %>
        <% @notifications.each do |notification| %>
          <div class="notification">
            <div class="row">
              <div class="col-md-10">
                <% if notification.action == "follow" %>
                  <p><%= link_to notification.visitor.name, "#{root_url(only_path: false)}users/#{notification.visitor.id}", class: "notification__visitor" %>があなたをフォローしました</p>

                <% elsif notification.action == "comment" %>
                  <!-- 投稿写真notification.postが載っているページ番号を取得 -->
                  <% page = get_page_number(notification.post) %>
                  <p><%= link_to notification.visitor.name, "#{root_url(only_path: false)}users/#{notification.visitor.id}", class: "notification__visitor"  %>があなたの投稿<%= link_to notification.post.title, "#{root_url(only_path: false)}users/#{current_user.id}?post_with_quick_modal=#{notification.post.id}&page=#{page}", class: "notification__post" %>にコメントしました</p>

                <% elsif notification.action == "favorite" %>
                  <!-- 投稿写真notification.postが載っているページ番号を取得 -->
                  <% page = get_page_number(notification.post) %>
                  <p><%= link_to notification.visitor.name, "#{root_url(only_path: false)}users/#{notification.visitor.id}", class: "notification__visitor"  %>があなたの投稿<%= link_to notification.post.title, "#{root_url(only_path: false)}users/#{current_user.id}?post_with_quick_modal=#{notification.post.id}&page=#{page}", class: "notification__post" %>にいいねしました</p>
                <%end %>
              </div>
              <div class="col-md-2 notification__time"><%= time_ago_in_words(notification.created_at)  %>前</div>
            </div>
          </div>
        <%end %>
        <%= paginate @notifications %>
      <% end %>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
