
<%= form_with(model: current_user.active_relationships.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <%= image_submit_tag "heart-gray.png", class: "btn-heart--red" %>
<% end %>