
<%= form_with(model: current_user.active_relationships.find_by(followed_id: @user.id),
              html: { method: :delete }, remote: true) do |f| %>
  <%= image_submit_tag "heart-red.png", class: "btn-heart--red" %>
<% end %>