
<div class="container post_form-section">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2 class="post_form-section__page-title"><%= headline %></h2>

      <%= form_for(post) do |f| %>
        <%= render 'layouts/error_messages', model: post %>

        <div class="form-group post_form-section__form-group">
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title, class: "form-control input-lg" %>
        </div>

        <div class="image">
          <%= f.label :image, "ファイル選択", class: "file-field-label" %>
          <%= f.file_field :image %>
          <!--画像をキャッシュする。
          カラム名_cacheとする。
          Strong Parametersの方にも追加。
          これがない場合は、バリデーションエラーでフォーム再表示したときに、
          画像を再び選択しないとデータベースに更新されない-->
          <%= f.hidden_field :image_cache %>
          <% if post.image? %>
            <%= image_tag post.image.url, id: 'img1', class: "post_form-section__image" %>
          <% else %>
            <%= image_tag "default_post.png", id: 'img1', class: "post_form-section__image" %>
          <% end %>
        </div>

        <div class="form-group post_form-section__form-group">
          <%= f.label :description, "ひとこと" %>
          <%= f.text_area :description, class: "form-control input-lg" %>
        </div>

        <div class="post_form-section__btn-area">
          <%= f.submit "アップロード", class: "btn post_form-section__btn-custom" %>
        </div>

      <% end %>
    </div>
    <div class="col-md-3"></div>
  </div>

</div>


<!-----------------------------選択した画像をプレビュー----------------------------->
<%= javascript_pack_tag 'preview_post' %>





