<div class="photomodal" >
  <%= image_tag(@post.image.url, class: "photomodal__image")  %>
  <div class="photomodal__host">
    <div class="row user-small-thumbnail">
      <div class="col-md-4">
        <!-- アバター画像がある場合のみ表示 -->
        <% if @post.user.avatar? %>
          <%= link_to image_tag(@post.user.avatar.url, class: "user-small-thumbnail__image"), "#{root_url(only_path: false)}users/#{current_user.id}" %>
        <% end %>

        <p class="user-name user-small-thumbnail__name"><%= @post.user.name %></p>
        <div id="comments-count">
          <p><%= @post.comments.count %>コメント</p>
        </div>

        <!-- カレントユーザーと投稿主が異なるならお気に入りに登録できる -->
        <% unless current_user == @post.user %>
          <div id="favorite-form">
            <% if current_user.adding?(@post) %>
              <%= render 'favorites/remove', post: @post %>
            <% else %>
              <%= render 'favorites/add', post: @post %>
            <% end %>
          </div>
        <% end %>

        <div id="favorites-count">
          <p><%= @post.favorites.count %>いいね</p>
        </div>
      </div>

      <div class="col-md-8">
        <h3 class="photomodal__title"><%= @post.title %></h3>
        <p class="photomodal__description"><%= @post.description %></p>
        <div class="photomodal__detail row">

          <!-- 写真投稿主とカレントユーザーが同じなら編集、削除できる -->
          <% if @post.user == current_user %>
            <div class="col-md-8">
              <p class="photomodal__time"><%= time_ago_in_words(@post.created_at) %>前に投稿</p>
              <!-- 編集された場合のみ編集時刻を表示させる -->
              <% unless @post.created_at == @post.updated_at %>
                <p class="photomodal__time"><%= time_ago_in_words(@post.updated_at) %>前に編集</p>
              <% end %>
            </div>
            <div class="col-md-2 current-user-link--post-edit" id="post-edit"><%= link_to "編集", edit_post_path %></div>
            <div class="col-md-2 current-user-link--post-delete" id="post-delete"><%= link_to "削除", post_path(@post.id), method: :delete %></div>
          <% end %>

        </div>
      </div>
    </div>
  </div>

  <div class="photomodal__comments">

    <!-- カレントユーザーのコメント -->
    <div id="current-user-comment" class="row user-tiny-thumbnail">
      <!--TODO Ajaxリクエストを送る前後で, html構造がややこしく変化している。改善が必要。-->
      <div id="hidden-for-ajax">
        <div>
          <% comment = @post.comments.find_by(user_id: current_user.id) %>
        </div>
      </div>


      <div id="comment-not-yet">
        <div>
          <!-- 投稿写真が他ユーザーのものである、かつ、コメントしていないとき -->
          <% if current_user != @post.user && comment == nil %>
            <%= render partial: 'comments/new_comment.html.erb', locals:  {post: @post, comment: nil} %>
          <% end %>
        </div>
      </div>


      <div id="comment-done">
        <div>
          <!-- 投稿写真が他ユーザーのものである、かつ、コメント済みのとき -->
          <% if current_user != @post.user && comment != nil %>
            <%= render 'comments/output_comments', {post: @post, comment: comment} %>
          <% end %>
        </div>
      </div>
    </div>

    <!--他ユーザーのコメント-->
    <div class="others-comments">
      <% if @post.comments.any? %>
        <li class="others-comments__list"><%= render partial: 'comments/comment', collection: @post.comments %></li>
      <% end %>
    </div>

  </div>
</div>