<div class="postcard" id="post-<%= post.id %>">
  <!-- 投稿写真を表示 -->
  <% unless post.image.nil? %>
    <%= link_to image_tag(post.image.url, class: "posted-content__image", alt: "post-#{post.id}"), "/posts/#{post.id}", remote: true %>
  <% end %>


  <!-- お気に入りの投稿、または、最新の投稿を表示するときは複数の写真投稿主が混在するため、わかるように投稿主のサムネイルを小さく載せる -->
  <% unless favorite_or_latest_posts.nil? %>
    <div class="posted-user-tiny-thumbnail">
      <!-- アバター画像があれば表示する -->
      <% if post.user.avatar? %>
        <%= link_to image_tag(post.user.avatar.url, class: "posted-user-tiny-thumbnail__image"), "/users/#{post.user.id}"  %><!-- userインスタンスの画像ファイルのURLを取得し表示 -->
      <% end %>
      <p class="posted-user-tiny-thumbnail__name"><%= post.user.name %></p>
    </div>
    <!-- 投稿写真左上にサムネイル表示スペースをつくる -->
    <div class="triangle"></div>
  <% end %>

</div>