<% provide(:title, "最新の投稿") %>
<div id="modal-container" class="new-post-modal">
  <div class="photomodal -hidden">
  </div>
</div>
<div class="container user-section">
  <h2 class="user-section__page-title">最新の投稿</h2>
  <!-----------------------------最新の投稿----------------------------->
  <div class="posts">
    <% if @latest_posts.any? %>
      <li class="posts__list"><%= render partial: 'posts/post', locals:  {favorite_or_latest_posts: @latest_posts}, collection: @latest_posts %></li>
    <% end %>
  </div>
  <%= paginate @latest_posts %>
</div>

<!-----------------------------モーダルをスイッチ----------------------------->
<%= javascript_pack_tag 'switch_modal' %>

