<% provide(:title, "検索結果") %>

<div id="modal-container" class="searched-post-modal">
  <div class="photomodal -hidden">
  </div>
</div>

<div class="container user-section">
  <h2 class="sign-up-section__page-title">[<%= @keyword %>]の検索結果</h2>
  <div class="" id="search-posts-content">
    <div class="posts">
      <% if @posts.any? %>
        <li class="posts__list"><%= render partial: 'posts/post', locals:  {favorite_or_latest_posts: @posts}, collection: @posts %></li>
      <% end %>
    </div>
  </div>
  <%= paginate @posts %>
</div>

<!-----------------------------モーダルをスイッチ----------------------------->
<%= javascript_pack_tag 'switch_modal' %>