@import "bootstrap-sprockets";
@import "bootstrap";

/****************************************************************/
/****************************共通*********************************/
/****************************************************************/
.insertedlayer {
  background-color: #333333;
  opacity: 0.4;
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 -200px;
}

//body {
//  font-family: "Hiragino Kaku Gothic ProN";
//}

body {
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
  overflow-x: hidden;
}

a {cursor: pointer;}
a:link, a:visited {
  color: #E82BD2;
}
p {margin: 0px;}

%page-title {
  font-size: 50px;
  color: #333333;
  margin-top: 60px;
  margin-bottom: 50px;
  text-align: center;
}

%btn-area {
  text-align: center;
  margin-top: 40px;
}

%btn-custom {
  background-color: #E82BD2;
  border-radius: 15px;
  color: white;
  font-size: 24px;
  padding: 12px 24px;
}

%user-thumbnail {
  text-align: center;
}

%user-thumbnail__image {
   width: 260px;
   height: 260px;
   object-fit: cover;
   object-position: 50% 0;
   border-radius: 130px;
}

%user-thumbnail__name {
    font-size: 50px;
    text-align: center;
}

%file-field-label {
  background-color: #e9e6e6;
  border-radius: 8px;
  font-weight: normal;
  padding: 5px;
  margin-top: 10px;
}

.btn-heart--gray {
  &:focus {
    outline:0;
  }
}
.btn-heart--red {
  &:focus {
    outline:0;
  }
}

.links {
  font-size: 16px;
}

//ページネーションbootstrap上書き
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #E82BD2;
  border-color: #E82BD2;
}
.pagination > li > a, .pagination > li > span {
  color: #E82BD2;
}

.photomodal {
  width: 400px;
  height: 800px;
  border-radius: 30px;
  background-color: #FFFFFF;
  background-image: url("https://cruw.co.jp/wp-content/themes/understrap-child-ver2/images/top/web_marketing.jpg");
  position: absolute;
  top: 600px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;
  overflow: hidden;
  overflow-y:scroll;
  box-shadow: 0 0 12px gray;

  &.-hidden {
    display: none;
  }

  &:before {
    content: '';
    background: inherit;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
  }

  &__host {
    //background: linear-gradient(#FFFFFF, 80%, #cac8c8);
    border-bottom: 1px solid rgba(169, 165, 165, 0.2);
    background-color: #FFFFFF;
  }

  &__image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    background-color: #999999;
    //word-wrap: break-word;
  }

  &__detail {
    margin: 0 15px
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    text-align: start;
    margin-top: 10px;
  }

  &__description {
    font-size: 18px;
    text-align: start;
  }

  &__time {
    font-size: 12px;
    text-align: end;
  }

}

.show-post-modal>.photomodal {top: 600px;}
.new-post-modal>.photomodal {top: 200px;}
.searched-post-modal>.photomodal {top: 200px;}

/****************************************************************************/
/****************************ヘッダーセクション*********************************/
/****************************************************************************/
header {
  height: 80px;
  background-color: #E82BD2;
  .header {

    &__logo {
      font-size: 50px;
      color: white;
      font-family: "Hannotate SC";
      margin-top: 14px;
    }

    &__links {
      display: inline-flex;
      margin-top: 23px;
    }

    &__image {
      width: 50px;
      padding: 0 10px;
    }

    .input-group {
      width: 100%;
      padding: 0 10px;
    }
  }
}

.search {
  display: flex;
  justify-content: flex-end;
  &__label {
    display: none;
  }

  &__input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0;
    width: 200px;
    height: 30px;
  }

  &__btn {
    width: 30px;
    height: 30px;
    background-color: #e0dcdc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 4px;
  }
}

/**************************************************************************/
/****************************ランディングページセクション*********************************/
/**************************************************************************/
.home-section {

  .top-contents {
    margin-bottom: 60px;

    &__title {
      font-size: 50px;
      margin-top: 60px;
    }

    &__text {
      font-size: 20px;
      margin-top: 20px;
    }

    &__image {
      margin-top: 40px;
      width: 460px;
      height: 420px;
      object-fit: cover;
      object-position: 50% 0;
      border-radius: 40px;
    }
  }

  &__facebook, &__facebook:link, &__facebook:visited {
    @extend %btn-custom;
    background-color: #3B5998;
    padding: 16px 24px;
    font-family: "San Francisco", "Segoe UI";
    &:before {
      font-family: "Font Awesome 5 Brands";
      content: '\f09a';
      font-weight: 900;
      margin-right: 10px;
      font-size: 30px;
    }
  }

  .sample-pages {
    display: flex;
    margin-top: 180px;

    &__left {
      transform: rotate(11deg);
    }

    &__right {
      transform: rotate(-6deg);
      margin-top: 60px;
      position: relative;
      left: -20px;
    }

    &__image {
      width: 270px;
      height: 340px;
      object-fit: cover;
      object-position: 50% 0;
      border-radius: 10px;
    }
  }

  &__btn-area {
    @extend %btn-area;
  }

  &__btn-custom, &__btn-custom:link, &__btn-custom:visited {
    @extend %btn-custom;
    color: white;
  }
}

/*******************************************************************************/
/****************************最新の投稿セクション*********************************/
/*******************************************************************************/
.container.latest-posts-section {
  position: relative;
  z-index: 1;
}

/*******************************************************************************/
/****************************ユーザー登録セクション*********************************/
/*******************************************************************************/
.sign-up-section {
  font-size: 24px;

  &__page-title {
    @extend %page-title;
  }

  &__form-group {
    margin-top: 20px;
  }

  label {
    font-size: 24px;
    margin-left: 0.5em;
  }

  &__terms {
    border-bottom: 1px #2256E5 solid;
  }

  input[type=checkbox] {
    transform: scale(2);
    margin-left: 10px;
  }

  &__btn-area {
    @extend %btn-area;
  }

  &__btn-custom {
    @extend %btn-custom;
  }
}

.withdrawal {
  margin-top: 100px;
  &__text {
    display: inline;
  }
  &__btn {
    display: inline;
  }
}

/*******************************************************************************/
/****************************ログインセクション*********************************/
/*******************************************************************************/
.sign-in-section {
  font-size: 24px;

  &__page-title {
    @extend %page-title;
  }

  &__form-group {
    margin-top: 20px;
  }

  label {
    font-size: 24px;
    margin-left: 0.5em;
  }

  &__terms {
    border-bottom: 1px #2256E5 solid;
  }

  input[type=checkbox] {
    transform: scale(2);
    margin-left: 10px;
  }

  &__btn-area {
    @extend %btn-area;
    margin-bottom: 40px;
  }

  &__btn-custom {
    @extend %btn-custom;
  }
}

.links--new {
  color: #83c820;
}

/****************************************************************************/
/****************************利用規約セクション*********************************/
/****************************************************************************/
.agreement-section {
  background-color: #FFFFFF;
  font-size: 18px;
  border-radius: 20px;
  box-shadow: 0 0 8px gray;
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
  margin: auto;

  &__page-title {
    @extend %page-title;
  }

  &__text {
    height: 300px;
    border: 1px solid #707070;
    border-radius: 10px;
    font-size: 24px;
    padding: 20px;
  }

  &__close {
    text-align: center;
    margin-top: 50px;
  }

  &.-hidden {
    display: none;
  }
}

/****************************************************************************/
/****************************ユーザー個別セクション*********************************/
/****************************************************************************/
.user-section {

  &__page-title {
    @extend %page-title;
  }

  .main-contents {
    margin-top: 80px;

    .user-large-thumbnail {
      @extend %user-thumbnail;
      padding-right: 0px;
      padding-left: 0px;

      &__image {
        @extend %user-thumbnail__image;
      }

      &__name {
        @extend %user-thumbnail__name;
      }
    }

    %counter-value {
      width: 300px;
      height: 70px;
      line-height: 70px;
      margin-top: 16px;
      background-size: 300px;
    }

    .counter {
      font-size: 30px;

      &__value {
        @extend %counter-value;

        &--follow {
          @extend %counter-value;
          background-image: url("follow.png");
        }

        &--follower {
          @extend %counter-value;
          background-image: url("follower.png");
          text-align: end;
          position: relative;
          left: 70px;
        }
      }

      &__text {
        padding: 0 10px;
      }
      &__text--value {
        font-size: 40px;
      }
      &__text > a:link, &__text > a:visited {
        color: #333333;
      }
      &__text>span {
        padding-right: 5px;
        padding-bottom: 5px;
      }
    }

    .profile-link {
      height: 250px;
      font-size: 24px;
      text-align: end;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  #follow_form {
    position: absolute;
    right: 35px;
    bottom: 80px;
  }

  .introduction {
    margin-bottom: 70px;

    &__text {
      font-size: 30px;
      line-height: 50px;
      padding: 70px 0 20px 40px;
      margin-top: -50px;
      border-left: 1px #707070 solid;
      border-bottom: 1px #707070 solid;
    }
  }

  .tabs {
    display: flex;
    width: 970px;
    margin: 0 auto;
    margin-bottom: 2px;

    &__label {
      font-weight: normal;
    }

    &__tab {
      width: 485px;
      height: 90px;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      font-size: 40px;
      text-align: center;
      line-height: 90px;
      background: radial-gradient(farthest-side, #DDDADD, #FAFAFA);
      color: #333333;
    }

    /*選択されているタブのスタイルを変える*/
    & input:checked + .tabs__tab {
      background: radial-gradient(farthest-side, #F7D9F7, #F5ECF5);
      border-bottom: 3px #E82BD2 solid;
      color: #C93965;
    }
  }

  /*ラジオボタン非表示*/
  input[name="tab_item"] {display: none;}

  .posts {
    width: 970px;
    margin: 0 auto;

    &__list {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .posted-content__image {
      width: 320px;
      height: 320px;
      object-fit: cover;
      margin-bottom: 5px;
      background-color: #999999;
      word-wrap: break-word;
    }
  }

  .postcard {
    position: relative;
  }

  .triangle{
    opacity: 0.5;
    border-right: 110px solid transparent;
    border-bottom: 110px solid #FFFFFF;
    border-left: 110px solid transparent;
    transform: rotate(-45deg);
    position: absolute;
    top: -16px;
    left: -71px;
    z-index: 1;
  }

  .posted-user-tiny-thumbnail {
    @extend %user-thumbnail;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;

    &__image {
      @extend %user-thumbnail__image;
      transform: rotate(-45deg);
      width: 60px;
      height: 60px;
      border-radius: 30px;
    }

    &__name {
      @extend %user-thumbnail__name;
      font-size: 14px;
      text-align: center;
      font-weight: bold;
      transform: rotate(-45deg);
      margin-bottom: 0;
      position: relative;
      left: 25px;
      bottom: 10px;
    }
  }

  /* 最終行の画像が3つ未満のときに左詰めで配置  参考 https://webtan.tech/space-between-lastline/ */
  .posts__list::after {
    display: block;
    content:"";
    width: 320px;
  }

  #my-posts-content {display: block;} /* 自分の投稿をデフォルト表示 */
  #favorite-posts-content {display: none;} /* お気に入りの投稿をデフォルト非表示 */
  #search-posts-content {display: block;}
}

/********************************************************************************/
/****************************フォローセクション*************************************/
/********************************************************************************/
.follow-section {
  &__title {
    font-size: 30px;
    text-align: center;
  }
  &__thumbnail {
    text-align: center;
  }
  &__image {
    @extend %user-thumbnail__image;
    width: 80px;
    height: 80px;
    border-radius: 40px;
  }
  &__name {
    @extend %user-thumbnail__name;
    font-size: 15px;
    font-weight: bold;
  }
  &__introduction {

  }
}

.follow-section__user {
  margin-top: 10px;
  border-bottom: 1px solid #707070;
}

/********************************************************************************/
/****************************プロフィール編集セクション*********************************/
/*********************************************************************************/
.edit-profile-section {
  font-size: 24px;

  &__page-title {
    @extend %page-title;
  }

  &__imagearea {
    text-align: center;
  }

  &__image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 50% 0;
    border-radius: 75px;
  }

  &__form-group {
    margin-top: 40px;
  }

  label {
    font-size: 24px;
    margin-left: 0.5em;
  }

  input[type=checkbox] {
    transform: scale(2);
    margin-left: 10px;
  }

  &__btn-area {
    @extend %btn-area;
  }

  &__btn-custom {
    @extend %btn-custom;
  }
}

.field {
  text-align: center;
  input {
    display: none;
  }
  .file-field-label {
    @extend %file-field-label;
  }
}

.opened-information, .closed-information {
  font-size: 32px;
  font-weight: bold;
  margin-left: -40px;
  margin-top: 60px;
}

.required:after {
  content: "(必須)";
  color: red;
}

.gender {
  padding-right: 40px;
}

#post_selected_on_a_notifications_page {
  display: none;
}

/****************************************************************************/
/****************************写真投稿セクション*********************************/
/****************************************************************************/
.post_form-section {

  &__page-title {
    @extend %page-title;
  }

  &__form-group {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  label {
    font-size: 24px;
    margin-left: 0.5em;
  }

  .file-field-label {
    @extend %file-field-label;
  }

  #post_image {
    display: none;
  }

  &__image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
  }

  &__btn-area {
    @extend %btn-area;
  }

  &__btn-custom {
    @extend %btn-custom;
  }
}

/****************************************************************************/
/****************************写真個別セクション*********************************/
/*******************************(モーダル)************************************/

/*スタック文脈をつくるためにz-index以外にpositionも定義する必要がある
#test-modal と .container.user-sectionとの重なり順を指定*/

#modal-container {
  position: relative;
  z-index: 2;
}

.container.user-section {
  position: relative;
  z-index: 1;
}

.current-user-link--post-edit,.current-user-link--post-delete {
  padding: 0px;
  font-size: 12px;
}

.user-small-thumbnail {
  @extend %user-thumbnail;
  padding-right: 0px;
  padding-left: 10px;
  text-align: center;

  &__image {
    @extend %user-thumbnail__image;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-top: 10px
  }

  &__name {
    @extend %user-thumbnail__name;
    font-size: 20px;
    font-weight: bold;
  }
}

.others-comments {
  margin: 0 auto;

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/****************************************************************************/
/****************************コメントセクション*********************************/
/****************************************************************************/
.user-tiny-thumbnail {
  @extend %user-thumbnail;
  padding: 10px 0 10px 10px;
  text-align: center;
  //background: linear-gradient(#FFFFFF, 80%, #cac8c8);
  border-bottom: 1px solid rgba(169, 165, 165, 0.2);
  background-color: #FFFFFF;
  width: 415px;

  &__image {
    @extend %user-thumbnail__image;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-top: 10px
  }

  &__name {
    @extend %user-thumbnail__name;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
  }
}

.comment {
  &__detail {
    text-align: start;
  }

  &__link {
    padding-left: 0px;
    padding-right: 0px;
  }

  &__description {
    font-size: 18px;
  }

  &__time {
    font-size: 12px;
  }
}

/****************************************************************************/
/****************************通知セクション************************************/
/****************************************************************************/
.notification-section {

  &__page-title {
    @extend %page-title;
  }
}

.notification {
  width: 100%;
  border-bottom: 1px solid #b1b0b0;
  height: 60px;
  line-height: 58px;
  &__visitor,&__visitor:link,&__visitor:visited, &__post,&__post:link,&__post:visited {
    font-weight: bold;
    font-size: 18px;
    color: #83c820;
  }
  &__time {
    color: #838080;
  }
  &__circle {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #83c820;
    position: relative;
    right: 20px;
    top: 0px;
  }
}