<header>
  <div class="container header">
    <div class="row">

      <div class="col-md-4">
        <% if current_user.nil?%>
          <a href="/home" class="navbar-brand header__logo">Instaclone</a>
        <% else %>
          <a href="/" class="navbar-brand header__logo">Instaclone</a>
        <% end %>
      </div>

      <div class="col-md-3"></div>

      <div class="col-md-5 header__links">

        <%= link_to image_tag("camera.png" , class: "header__image"), new_post_path %>

        <% if user_signed_in? %>
          <!--例えばposts/newのページからリンクを押すとposts/users/1のようにpostsの後にusersがきてしまうので使わない-->
          <%#= link_to image_tag("person.png", class: "header__image"), "users/#{current_user.id}" %>
          <!--絶対パスで指定する-->
          <%= link_to image_tag("person.png", class: "header__image"), "#{root_url(only_path: false)}users/#{current_user.id}" %>
        <% else %>
          <%= link_to image_tag("person.png", class: "header__image"), sign_in_path %>
        <% end %>

        <%= link_to image_tag("bell.png", class: "header__image"), notifications_path %>
        <% if unchecked_notifications_any? %>
          <div class="notification__circle"></div>
        <% end %>

        <div>
          <%= form_tag("/posts/search", method: "get", class: "search") do %>
            <%= label_tag(:keyword, "Search for:", class: "search__label") %>
            <%= text_field_tag :keyword, '', class: 'search__input' %>
            <%= image_submit_tag "search.png", class: "search__btn" %>
          <% end %>
        </div>

      </div>

    </div>
  </div>
</header>