<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177848854-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-177848854-1');
    </script>

    <title><%= yield(:title) %> | Instaclone</title>
    <meta name="description" content="アルバムをシェア！いいねやコメントをもらおう。何気ない日常が繋がりをつくる。">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container flash-bar">
      <% flash.each do |message_type, message| %><!--message_typeはflashのkey,messageはflashのvalue-->
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>
    <%= yield %>

    <% if Rails.env.development? %>
      <br>
      <%= "@user.name :  #{@user.name}" unless @user == nil  %>
      <br>
      <%= "@user.id :  #{@user.id}" unless @user == nil  %>
      <br>
      <br>
      <div class="testertag">
        <%= "current_user.name :  #{current_user.name}" unless current_user.nil?  %>
        <br>
        <%= "current_user.id :  #{current_user.id}" unless current_user.nil?  %>
        <%= debug(params) %>
      </div>
    <% end %>

  </body>
</html>
