<% provide(:title, "プロフィール編集") %>
<div class="container edit-profile-section">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2 class="edit-profile-section__page-title">プロフィール編集</h2>
      <%= render "users/shared/error_messages", resource: resource %>

      <p class="opened-information">公開情報</p>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch }) do |f| %>
        <div class="edit-profile-section__imagearea">
          <% if @user.avatar? %>  <!-- アップロード画像がある場合に実行する -->
            <%= image_tag @user.avatar.url, id: 'img1', class: "edit-profile-section__image" %><!-- userインスタンスの画像ファイルのURLを取得し表示 -->
          <% else %>
            <%= image_tag "default_avatar.png", id: 'img1', class: "edit-profile-section__image" %>
          <% end %>
        </div>
        <div class="field">
          <%= f.label :avatar, "アバター画像選択", class: "file-field-label" %>
          <%= f.file_field :avatar %>
          <!--カラム名_cacheとすればCarrierwaveが画像をキャッシュしてくれる
          Strong Parametersの方にも追加。
          もしこれがこれがないと、バリデーションエラー後のフォーム再表示で、
          画像を再び選択しないとデータベースに更新されない-->
          <%= f.hidden_field :avatar_cache %>
        </div>


        <div class="form-group edit-profile-section__form-group">
          <%= f.label :fullname, "名前" %>
          <%= f.text_field :fullname, class: "form-control input-lg" %>
        </div>

        <div class="form-group edit-profile-section__form-group">
          <%= f.label :name, "ユーザーネーム", class: "required" %>
          <%= f.text_field :name, class: "form-control input-lg" %>
        </div>

        <div class="form-group edit-profile-section__form-group">
          <%= f.label :website, "ウェブサイト" %>
          <%= f.text_field :website, class: "form-control input-lg" %>
        </div>

        <div class="form-group edit-profile-section__form-group">
          <%= f.label :introduction, "自己紹介" %>
          <%= f.text_field :introduction, class: "form-control input-lg" %>
        </div>
        <p class="closed-information">非公開情報</p>
        <div class="form-group edit-profile-section__form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control input-lg" %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group edit-profile-section__form-group">
          <%= f.label :phone, "電話番号(ハイフンなし)" %>
          <%= f.text_field :phone, class: "form-control input-lg" %>
        </div>

        <div class="form-group edit-profile-section__form-group">
          <%= f.radio_button :sex, true %>
          <%= f.label :sex_true, "male", class: "gender" %>
          <%= f.radio_button :sex, false %>
          <%= f.label :sex_false, "female", class: "gender" %>
        </div>

        <% if current_user.uid.nil? %>
          <!-- Facebookアカウントでユーザー登録していない場合はこの中を処理 -->
          <div class="form-group edit-profile-section__form-group">
            <%= f.label :current_password, "現在のパスワード", class: "required" %><br />
            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control input-lg" %>
          </div>

          <div class="form-group edit-profile-section__form-group">
            <%= f.label :password, "新しいパスワード" %>
            <% if @minimum_password_length %>
              <span>(<%= @minimum_password_length %> 文字以上)</span>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control input-lg" %>
          </div>

          <div class="form-group edit-profile-section__form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "form-control input-lg"%>
          </div>

        <% else %>
          <!-- Facebookアカウントでユーザー登録している場合はこの中を処理 -->
          <!--
            問題
              Omniauth Facebookで登録した人はパスワード(トークン)が自動生成されている。
              そのため本人はパスワード(トークン)を知らず、入力できないため、このままではユーザー編集ができない。
            対策
              あらかじめ自動生成したパスワード(トークン)をCookieに入れておく。
              ユーザーの代わりにCookieからパスワード(トークン)を引っ張ってきて、自動入力する。
          -->
          <% if password_authentication_with_automatic_input? %>
            <%= f.hidden_field :current_password, value: cookies.permanent[:user_password] %>
          <% else %>
          <!-- ユーザーがクッキー削除したときの対応どうする？？？ -->
          <% end %>
        <% end %>

        <div class="edit-profile-section__btn-area">
          <%= f.submit "更新", class: "btn edit-profile-section__btn-custom" %>
        </div>

      <% end %>

      <div class="withdrawal">
        <p class="withdrawal__text">アカウント削除</p>
        <%= button_to "削除", registration_path(resource_name), data: { confirm: "本当に削除しますか?" }, method: :delete, class: "withdrawal__btn" %>
      </div>

      <%= link_to "戻る", :back %>
    </div>
    <div class="col-md-3"></div>
  </div>

  <%= render "users/shared/links" %>
</div>

<div class="row">
  <div class="col-md-10"></div>
  <div class="col-md-2">
  </div>
</div>

<!-----------------------------選択したアバター画像をプレビュー----------------------------->
<%= javascript_pack_tag 'preview_avatar' %>




