<% provide(:title, "フォロー,フォロワー") %>
<div class="container follow-section">
  <div class="row">

    <div class="col-md-5 following">
      <h3 class="follow-section__title">フォロー</h3>
      <% @user.following.each do |user| %>
        <div class="follow-section__user row">
          <div class="col-md-3 follow-section__thumbnail">
            <%= link_to image_tag(user.avatar.url, class: "follow-section__image"), "/users/#{user.id}"  %><!-- userインスタンスの画像ファイルのURLを取得し表示 -->
            <p class="follow-section__name"><%= user.name %></p>
          </div>
          <div class="col-md-9">
            <p class="follow-section__introduction"><%= user.introduction unless user.introduction.nil? %></p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-5 followers">
      <h3 class="follow-section__title">フォロワー</h3>
      <% @user.followers.each do |user| %>
        <div class="follow-section__user row">
          <div class="col-md-3 follow-section__thumbnail">
            <%= link_to image_tag(user.avatar.url, class: "follow-section__image"), "/users/#{user.id}"  %><!-- userインスタンスの画像ファイルのURLを取得し表示 -->
            <p class="follow-section__name"><%= user.name %></p>
          </div>
          <div class="col-md-9">
            <p class="follow-section__introduction"><%= user.introduction unless user.introduction.nil? %></p>
          </div>
        </div>
      <% end %>
    </div>

  </div>


</div>
