<% provide(:title, "ユーザー登録") %>
<div class="container sign-up-section">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2 class="sign-up-section__page-title">ユーザー登録</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>


        <!-- Facebookアカウントで新規登録 -->
        <% if @user.uid %>
          <%= f.hidden_field :uid, value: @user.uid %>
          <%= f.hidden_field :provider, value: @user.provider %>
          <%= f.hidden_field :fullname, value: @user.name %>
          <%= f.hidden_field :name, value: @user.name %>
          <%= f.hidden_field :email, value: @user.email %>
          <%= f.hidden_field :password, value: @user.password %>
          <%= f.hidden_field :password_confirmation, value: @user.password %>

        <!-- 新規登録 -->
        <% else %>
          <div class="form-group sign-up-section__form-group">
            <%= f.label :fullname, "名前"  %>
            <%= f.text_field :fullname, class: "form-control input-lg" %>
          </div>
          <div class="form-group sign-up-section__form-group">
            <%= f.label :name, "ユーザーネーム" %>
            <%= f.text_field :name, class: "form-control input-lg" %>
          </div>
          <div class="form-group sign-up-section__form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control input-lg" %>
          </div>
          <div class="form-group sign-up-section__form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <span>(<%= @minimum_password_length %> 文字以上)</span>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control input-lg" %>
          </div>
          <div class="form-group sign-up-section__form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "form-control input-lg"%>
          </div>
        <% end %>

        <div class="form-group sign-up-section__form-group">
          <a id="terms-open">利用規約</a>
          <%= f.check_box :agreement, class: "chk" %>
          <%= f.label :agreement, "利用規約に同意する" %>
        </div>

        <div class="sign-up-section__btn-area">
          <%= f.submit "登録", class: "btn sign-up-section__btn-custom", id: "btn1" %>
        </div>

      <% end %>

    </div>

    <div class="col-md-3"></div>

  </div>

  <%= render "users/shared/links" %>
</div>


<!--モーダル 通常は-hiddenクラスで非表示にしてある-->
<div class="container agreement-section -hidden">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h2 class="agreement-section__page-title">利用規約</h2>
      <div class="agreement-section__text">
        <p>マナー、モラルに反する行為は一切禁止します。</p>
        <br>
        <p>アプリ内では下記サイトのフリー画像を使用しています。</p>
        <p>_________________________________________________________________________</p>
        <p>パブリックドメインQ｜https://publicdomainq.net/camera-taking-picture-0019733/</p>
        <p>ICOOON MONO｜https://icooon-mono.com/</p>
        <p>pixabay｜https://pixabay.com/ja/https://pixabay.com/ja/</p>
        <p>photo AC マロネコさん｜https://www.photo-ac.com/main/detail/1339362</p>
      </div>
      <div class="agreement-section__close">
        <a id="terms-close">閉じる</a>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<!-----------------------------利用規約モーダル表示----------------------------->
<%= javascript_pack_tag 'display_terms' %>

<!--------------------利用規約チェック入れたら登録ボタンを有効化-------------------->
<%= javascript_pack_tag 'activate_btn' %>

