
<% provide(:title, @user.name) %>
<div id="modal-container" class="show-post-modal">
  <div class="photomodal -hidden">
    <!-- 通常は何もなし  投稿写真をクリックするとAjaxでモーダルのコードをここに挿入する-->
  </div>
</div>

<div class="container user-section">
  <div class="row main-contents">

    <div class="col-md-3 user-large-thumbnail">
      <!-- アバター画像がある場合は表示 -->
      <% if @user.avatar? %>
        <%= image_tag @user.avatar.url, class: "user-large-thumbnail__image" %><!-- userインスタンスの画像ファイルのURLを取得し表示 -->
      <% else %>
        <%= image_tag "default_avatar.png", class: "user-large-thumbnail__image" %>
      <% end %>
      <!-- 写真投稿主が自分でないならフォロー/アンフォローできる -->
      <% unless current_user == @user %>
        <div id="follow_form">
          <% if current_user.following?(@user) %>
            <%= render 'users/unfollow' %>
          <% else %>
            <%= render 'users/follow' %>
          <% end %>
        </div>
      <% end %>
      <div><p class="user-name user-large-thumbnail__name"><%= @user.name %></p></div>
    </div>

    <!-- 投稿数、フォロー数、フォロワー数 -->
    <div class="col-md-5 counter">
      <div class="counter__value">
        <p class="counter__text"><span><%= image_tag("post_count.png") %></span>投稿数<span class="counter__text--value"><%= @user.posts.count %></span>件</p>
      </div>
      <div class="counter__value--follow">
        <p class="counter__text">
          <%= link_to "#{root_url(only_path: false)}users?userid=#{@user.id}" do %>
            <span class="counter__text--value"><%= @user.following.count %></span>フォロー
          <% end %>
        </p>
      </div>
      <div class="counter__value--follower">
        <p class="counter__text">
          <%= link_to "#{root_url(only_path: false)}users?userid=#{@user.id}" do %>
            <span class="counter__text--value" id="followers"><%= @user.followers.count %></span>フォロワー
          <% end %>
        </p>

      </div>
    </div>

    <!-- ログアウト、プロフィール編集 -->
    <div class="col-md-4 profile-link">
      <% if @user == current_user %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <%= link_to "プロフィール編集", edit_user_registration_path %>
      <% end %>
    </div>

  </div>

  <!-- 自己紹介 -->
  <div class="row introduction">
    <p class="introduction__text"><%= @user.introduction %></p>
  </div>

  <!----------------------タブ選択---  自分の投稿 または お気に入りの投稿  ----------------------------->
  <div class="tabs">
    <input id="my-posts-input" type="radio" name="tab_item" value="aa" >
    <label class="tabs__tab tabs__label" id="my-posts__label" for="my-posts-input"><%= @user.name %>の投稿</label>
    <input id="favorite-posts-input" type="radio" name="tab_item" value="bb" >
    <label class="tabs__tab tabs__label" id="favorite-posts__label" for="favorite-posts-input">お気に入り</label>
  </div>

  <!-----------------------------自分の投稿----------------------------->
  <div class="" id="my-posts-content">
    <div class="posts">
      <% if @user.posts.any? %>
        <li class="posts__list" id="my-posts">
          <%= render partial: 'posts/post', locals:  {favorite_or_latest_posts: nil}, collection: @posts %>
        </li>
        <%= paginate @posts %>
      <% end %>
    </div>
  </div>

  <!-----------------------------お気に入りの投稿----------------------------->
  <div class="" id="favorite-posts-content">
    <div class="posts">
      <% if @favorite_posts.any? %>
        <li class="posts__list" id="favorite-posts">
          <%= render partial: 'posts/post', locals:  {favorite_or_latest_posts: @favorite_posts}, collection: @favorite_posts %>
        </li>
        <%= paginate @favorite_posts %>
      <% end %>
    </div>
  </div>




  <!-----------------------------タブをスイッチ----------------------------->
  <%= javascript_pack_tag 'switch_tab' %>

  <!-----------------------------モーダルをスイッチ----------------------------->
  <%= javascript_pack_tag 'switch_modal' %>


  <!--通知ページのリンクからアクセスしてきた場合、自動で該当する投稿写真をクリック-->
  <% if @post_with_quick_modal %>
    <!--js側が値を取得できるよう、idを付与し、@post_with_quick_modal.idを入れる-->
    <div id="post_selected_on_a_notifications_page"><%= @post_with_quick_modal.id  %></div>
    <!--該当する投稿写真をクリック-->
    <%= javascript_pack_tag 'click_post_selected_on_a_notifications_page' %>
  <% end %>

</div>

