$("#my-posts").html("<%= j(render partial: 'posts/post', locals:  {favorite_or_latest_posts: nil}, collection: @posts) %><%= paginate @posts, remote: true %>");
$("#favorite-posts").html("<%= j(render partial: 'posts/post', locals:  {favorite_or_latest_posts: @favorite_posts}, collection: @favorite_posts) %><%= paginate @favorite_posts, remote: true %>");
<% puts "-------------------------registrations/show.js.erbを通過------------------------------" %>